<h1>New Plane</h1>

<form role='form' ng-submit='newAirplane()'>
	<div class='form-group'>
		<input type="text" ng-model='name' class="form-control" id="name" placeholder="Name">
		<input type="text" ng-model='model' class="form-control" id="model" placeholder="Model">
		<input type="number" ng-model='engine' class="form-control" id="engine" placeholder="Engines">
		<input type="text" ng-model='picture' class="form-control" id="picture" placeholder="Picture URL">
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
</form>